@font-face {
  font-family: UthmanTB;
  src: url("../Fonts/UthmanTN1B Ver10.otf");
}

.ayat {
	font-family: UthmanTB, sans-serif; 
	font-size: 1.8em; 
	direction: rtl; 
	text-align: right;
}

.no-ayat {
	font-family: UthmanTB;
	font-size: 1.5em;
	text-align: center;
}

.surat {
	background-image: url("../Images/sura-header1.png");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-size: auto 100%;
}

pre {
	font-family: Monospace, "Liberation Mono";
	font-size: 0.8em;
    display: block;
    white-space: pre-wrap;
    margin: 1em 0;
}

